<p>Olá <%= @resource.email %>!</p>

<p>Alguém pediu para recuperar a password e poderá realizá-lo através do link a baixo:</p>

<p><%= link_to 'Mudar as password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Se não requisitou a mudança de password, ignore este e-mail.</p>
<p>A sua password não irá mudar até aceder ao link indicado e escolher uma nova.</p>
