<%= render :partial => 'layouts/header' %>
<div id="ap_container">

<div id="ap_details">
<h2>Editar apartmento</h1>

<%= render 'form' %>

<%= link_to 'Show', @apartment %> |
<%= link_to 'Back', apartments_path %>

</div>
</div>